# ==========================================
# 1. OS & 공통 에디터 임시 파일
# ==========================================
.DS_Store
Thumbs.db
*.swp
*.bak
.vscode/
.idea/


# ==========================================
# 2. C++ 서버 관련 설정 (Visual Studio / 빌드 결과물)
# ==========================================

# User-specific files
*.rsuser
*.suo
*.userosscache
*.userprefs
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# .vs
.vs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


# ==========================================
# 3. 클라이언트, Unity
# ==========================================

.utmp/
**/Client/[Ll]ibrary/
**/Client/[Tt]emp/
**/Client/[Oo]bj/
**/Client/[Bb]uild/
**/Client/[Bb]uilds/
**/Client/[Ll]ogs/
**/Client/[Uu]ser[Ss]ettings/
*.log

# By default unity supports Blender asset imports, *.blend1 blender files do not need to be commited to version control.
*.blend1
*.blend1.meta

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
**/Client/[Mm]emoryCaptures/

# Recordings can get excessive in size
**/Client/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# **/Client/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
**/Client/[Aa]ssets/Plugins/Editor/JetBrains*
# Jetbrains Rider personal-layer settings
*.DotSettings.user

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Mono auto generated files
mono_crash.*

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics generated file
crashlytics-build.properties

# TestRunner generated files
InitTestScene*.unity*

# Addressables default ignores, before user customizations
**/Client/ServerData
**/Client/[Aa]ssets/StreamingAssets/aa*
**/Client/[Aa]ssets/AddressableAssetsData/link.xml*
**/Client/[Aa]ssets/Addressables_Temp*
# By default, Addressables content builds will generate addressables_content_state.bin
# files in platform-specific subfolders, for example:
# /Assets/AddressableAssetsData/OSX/addressables_content_state.bin
**/Client/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting auto-generated files
**/Client/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
**/Client/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
**/Client/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
**/Client/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated scenes by play mode tests
**/Client/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Auto-generated cache in Assets folder
**/Client/[Aa]ssets/[Ss]ceneDependencyCache*




# ==========================================
# 4. 서버 사용자 추가섹션
# ==========================================

# vcpkg
**/vcpkg/vcpkg/
**/vcpkg/x64-windows/
**/vcpkg/x64-windows-static-md-2022/

# SQLite
DB.Browser.for.SQLite-v3.13.1-win64/
*.db

# output
**/Server/OUTPUT/Debug/*.lib
**/Server/OUTPUT/Debug/*.idb
**/Server/OUTPUT/Debug/*.exe
**/Server/OUTPUT/Debug/*.pdb

**/Server/OUTPUT/Release/*.lib
**/Server/OUTPUT/Release/*.idb
**/Server/OUTPUT/Release/*.exe
**/Server/OUTPUT/Release/*.pdb

**/Server/OUTPUT/Tools/


# ==========================================
# 5. 클라 사용자 추가섹션
# ==========================================


# ==========================================
# 6. 기타
# ==========================================
/temp